.slider {
  position: relative;
  font-size: 1em;
}

.slider .slides {
  margin-top: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  overflow: hidden;
}
.slider .slides::before {
  content: "";
  position: absolute;
  inset: -2%;
  background: url("../src//images/joshua-woroniecki-lzh3hPtJz9c-unsplash.webp")
    center/cover;
  filter: blur(45px) brightness(33%) saturate(120%);
  z-index: 0;
}
.slider .slides .item {
  display: none;
  position: relative;
  z-index: 1;
  text-align: center;
}

.slider .slides .show-it {
  display: block;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.slider .slides .item img {
  width: 65%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.slider .button {
  position: absolute;
  bottom: 30px;
  left: 60px;
  z-index: 1;
}

.slider .button i {
  color: rgb(241, 237, 237);
}

.slider .button i:hover {
  color: rgba(218, 217, 217, 0.562);
  cursor: pointer;
}


@media (max-width: 768px) {
  .slider .slides {
    min-height: 400px;
  }

  .slider .slides .item img {
    width: 80%;
  }

  .slider .button {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .slider .slides {
    min-height: 300px;
  }

  .slider .slides .item img {
    width: 90%;
  }

  .slider .button {
    bottom: 15px;
  }

  .slider .button i {
    font-size: 10px;
  }
}
