@font-face {
  font-family: IranSans;
  src: url(../src/fonts/IranSans/IranSans.ttf);
  font-display: swap;
}

body {
  margin: 0;
  font-family: IranSans;
  direction: rtl;
  height: 100dvh;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
